@font-face {
    font-family: "SCDream3";
    src: url("SCDream3.woff");
}
@font-face {
    font-family: "SCDream4";
    src: url("SCDream4.woff");
}
@font-face {
    font-family: "SCDream5";
    src: url("SCDream5.woff");
}
@font-face {
    font-family: "SCDream8";
    src: url("SCDream8.woff");
}
@font-face {
    font-family: "Cafe24Simplehae";
    src: url("Cafe24Simplehae.ttf");
}
@font-face {
    font-family: "Cafe24PrettyNight";
    src: url("Cafe24PrettyNight.woff");
}
@font-face {
    font-family: "GmarketSansM";
    src: url("GmarketSansM.woff");
}
@font-face {
    font-family: "Jalnan";
    src: url("Jalnan.woff");
}
@font-face {
    font-family: "JUA";
    src: url("JUA.woff");
}
@font-face {
    font-family: "NanumMyeongjoEB";
    src: url("NanumMyeongjoEB.woff");
}
@font-face {
    font-family: "NanumMyeongjoR";
    src: url("NanumMyeongjoR.woff");
}
@font-face {
    font-family: "GmarketSansM";
    src: url("GmarketSansM.woff");
}
@font-face {
    font-family: "GmarketSansM";
    src: url("GmarketSansM.woff");
}


.SCDream3{
    font-family: "SCDream3" ;
}
.SCDream4{
    font-family: "SCDream4" ;
}
.SCDream5{
    font-family: "SCDream5" ;
}
.SCDream8{
    font-family: "SCDream8" ;
}
.Simplehae{
    font-family: "Cafe24Simplehae" ;
}
.PrettyNight{
    font-family: "Cafe24PrettyNight" ;
}
.Gmarket{
    font-family: "GmarketSansM" ;
}
.Jalnan{
    font-family: "Jalnan" ;
}
.JUA{
    font-family: "JUA" ;
}
.NanumEB{
    font-family: "NanumMyeongjoEB" ;
}
.NanumR{
    font-family: "NanumMyeongjoR" ;
}



